*.jpg
*.MOV
data/results/*
data/processed/*
data/raw/*
__pycache__/
*.egg-info
*.pyc
*runs/
*.pt

src/dataloader.py
src/extract_images.py
notebooks/*
README_video*
.env
ec2_instructions.md
deployment_instructions.md
*.pem
data_lite.zip
models.zip
src/image_processor/direct_connect_phone.md
*.log
src/frontend/node_modules/*
models/*
